<!-- 
<button (click)="currentBuku.set(Buku[3])">set buku</button>
<button (click)="currentBuku.set(Buku[2])">set buku</button>
 -->



<div class="buku-grid">
  @for (buku of bukuService.allBooks(); track buku.judul) {
    <app-buku-detail [buku]="buku"></app-buku-detail>
  }
</div>

 @for (buku of bukuService.allBooks(); track buku.judul) {
    <button (click)="currentBuku.set(buku)"> {{ buku.judul }} </button>
 }


<h1>keterangan pinjam:{{ keteranganPinjam() }}  </h1>

<app-buku-detail [buku]="currentBuku()"></app-buku-detail>

<h1>Search For a Book</h1>
<input type="text" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" placeholder="search for a book" />
<ul>
  @for (buku of filteredBook(); track buku.judul) {
    <li>{{ buku.judul }}</li>
  } @empty {
    <li>No books found matching your search.</li>
  }
</ul>